## Project: Reading a csv file

In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv(r'C:\Users\Max\Documents\Projects\python-for-machine-learning\archive1\2010-2024 Movies Box Ofice Collection.csv')

In [5]:
df.head()

,Rank,Release Group,Worldwide,Domestic,Domestic_percent,Foreign,Foreign_percent,year
0,0,Toy Story 3,"1,06,69,69,703","41,50,04,880",38.90%,"65,19,64,823",61.10%,2010
1,1,Alice in Wonderland,"1,02,54,67,110","33,41,91,110",32.60%,"69,12,76,000",67.40%,2010
2,2,Harry Potter and the Deathly Hallows: Part 1,"96,02,83,305","29,59,83,305",30.80%,"66,43,00,000",69.20%,2010
3,3,Inception,"82,82,58,695","29,25,76,195",35.30%,"53,56,82,500",64.70%,2010
4,4,Shrek Forever After,"75,26,00,867","23,87,36,787",31.70%,"51,38,64,080",68.30%,2010

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              2800 non-null   int64
 1   Release Group     2800 non-null   object
 2   Worldwide         2800 non-null   object
 3   Domestic          2800 non-null   object
 4   Domestic_percent  2800 non-null   object
 5   Foreign           2800 non-null   object
 6   Foreign_percent   2800 non-null   object
 7   year              2800 non-null   int64
dtypes: int64(2), object(6)
memory usage: 175.1+ KB