# CSV

In [2]:
import pandas as pd
import numpy as np
from io import StringIO, BytesIO

In [3]:
my_data=('col1,col2,col3\n'    #csv= Comma Separated Values
             'a,b,c\n'
              'd,e,f\n'
                '1,2,3')

In [6]:
type(my_data)

str

In [5]:
pd.read_csv(StringIO(my_data))

  col1 col2 col3
0    a    b    c
1    d    e    f
2    1    2    3

In [9]:
#Reading from some specific columns

df=pd.read_csv(StringIO(my_data), usecols=['col1', 'col3'])

In [10]:
df

  col1 col3
0    a    c
1    d    f
2    1    3

In [14]:
# Reading from column 2 only

df=pd.read_csv(StringIO(my_data), usecols=['col2'])

In [15]:
df

  col2
0    b
1    e
2    2

In [16]:
# saving data into a csv file

df.to_csv('Awesome.csv')

# Creating custom dataset

In [26]:
# Specifying the data types of the columns

diff_data = ('z,y,x,w\n'    
             '1,2,3,4\n'
             '5,6,7,8\n'
             '9,10,11,12')

In [24]:
type(diff_data)

str

In [27]:
pd.read_csv(StringIO(diff_data))

   z   y   x   w
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [28]:
df=pd.read_csv(StringIO(diff_data),dtype=int)

In [29]:
df

   z   y   x   w
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [31]:
df['x']

0     3
1     7
2    11
Name: x, dtype: int64

In [32]:
df['w'][1]

np.int64(8)

In [33]:
df=pd.read_csv(StringIO(diff_data),dtype={'y':'int','z':'float','w':'Int64'})

In [34]:
df

     z   y   x   w
0  1.0   2   3   4
1  5.0   6   7   8
2  9.0  10  11  12

In [39]:
type(df['z'][2])

numpy.float64

In [40]:
df.dtypes

z    float64
y      int64
x      int64
w      Int64
dtype: object

In [41]:
one_data = ('index,y,x,w\n'    
             '1,coding,darts,23.5\n'
             '8,gold,song,12')

In [44]:
pd.read_csv(StringIO(one_data))

   index       y      x     w
0      1  coding  darts  23.5
1      8    gold   song  12.0

In [46]:
pd.read_csv(StringIO(one_data), index_col=0)

            y      x     w
index
1      coding  darts  23.5
8        gold   song  12.0

In [47]:
pd.read_csv(StringIO(one_data), index_col=2)

       index       y     w
x
darts      1  coding  23.5
song       8    gold  12.0

In [48]:
pd.read_csv(StringIO(one_data), index_col=3)

      index       y      x
w
23.5      1  coding  darts
12.0      8    gold   song

In [49]:
one_data = ('y,x,w\n'    
            '1,coding,darts\n'
            '8,gold,song')

In [50]:
pd.read_csv(StringIO(one_data))

   y       x      w
0  1  coding  darts
1  8    gold   song

In [51]:
pd.read_csv(StringIO(one_data), index_col=False)

   y       x      w
0  1  coding  darts
1  8    gold   song