In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame(np.arange(0,15).reshape(3,5),index=['Row1', 'Row2', 'Row3'],columns=['colum1', 'colum2', 'colum3', 'colum4', 'colum5'])

In [5]:
df.head()

      colum1  colum2  colum3  colum4  colum5
Row1       0       1       2       3       4
Row2       5       6       7       8       9
Row3      10      11      12      13      14